<%- include('../partials/head.ejs'); %>
<div class="container mt-3 mt-xs-5">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">CodeClouds Assignment</h1>
                <p class="lead">This is a CodeClouds assignment</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-success" href="/api/users/register-page" role="button">SignUp</a>
                <a class="btn btn-primary btn-secondary" href="/api/users/login-page" role="button">LogIn</a>
            </div>
        </div>
    </div><!-- row -->
</div><!-- content container -->

<%- include('../partials/footer'); %>
